@media screen and (min-width: 1900px)

@media screen and (max-width: 1440px)
    .slider
        height: auto
        &-item
            height: 690px
            position: relative
        &-text
            height: 100%
            text-align: left
            padding-top: 300px
@media screen and (max-width: 1200px)
    .product-row
        min-width: 960px
    .link-line
        width: 100%
        height: auto
        padding: 20px 0
        background-color: $font-color-main
        &-btn
            display: block
            text-align: center
            color: $font-color-main
            background-color: $font-color-second
            font-size: 18px
            padding: 10px 25px
            transition: .3s all
            &:hover
                color: $font-color-second
                background-color: $font-color-third
        &-text
            color: $font-color-second
            font-size: 30px
            font-weight: 300
    .header
        &__nav-link
            font-size: 15px
            margin: 0 10px
    .slider
        &-text
            height: 100%
            text-align: left
            padding-top: 300px
        &-h2
            font-size: 60px
            color: #fff
        &-p
            font-size: 18px
            font-weight: 300
        &-btn
            margin-top: 20px
    .advantage
        height: auto!important
        padding: 50px 0
        &-item
            position: relative
            text-align: center
            width: 200px
            height: 200px
            border-top: 2px solid $font-color-second
            border-bottom: 2px solid $font-color-second
            transition: .3s all
            padding-top: 30px
        &-icon
            position: relative
            font-size: 60px
            z-index: 2
            color: $font-color-second
        &-text 
            color: $font-color-second
            font-size: 20px
            margin-top: 30px
            font-weight: 100
@media screen and (max-width: 992px)
    .product-row
        min-width: 720px
    .burger-menu
        display: block
        position: absolute
        top: 30px
        right: 15px
        z-index: 999
        background: none
        border: none
        cursor: pointer
        transition: .5s all     

    .header
        width: 100%
        height: auto
        background-color: #ffffff
        position: fixed
        z-index: 1000
        transition: .5s all
        box-shadow: 0px 1px 10px 1px #00000035
        &-row
            height: 70px
            transition: .5s all
            position: relative
            padding-top: 10px
            &::after
                content: ""
                position: absolute
                z-index: -1
                top: 0
                left: -300%
                width: 340%
                height: 100%
                background-color: $font-color-main
                transform: skewX(45deg)
            &_scroll
                height: 70px

        &__logo
            z-index: 2
            font-size: 26px
            &__link
                &_scroll
                    font-size: 26px

        &-social
            display: none
        &-line
            position: absolute
            z-index: 1
            top: 0
            left: 0
            width: 100%
            height: 100%
            background-color: $font-color-main
            transform: skewX(45deg)
            &::before
                content: ""
                position: absolute
                top: 0
                left: 0
                width: 50%
                height: 100%
                transform: skewX(-45deg)
                background-color: $font-color-main
        .nav
            display: none
    .slider
        margin-top: 70px
        &-item
            height: 500px
            position: relative
        &-img
            object-fit: cover
            object-position: center
            width: 100%
            min-height: 100%
        &-text
            height: 100%
            text-align: center
            padding-top: 200px
        &-h2
            font-size: 50px
            color: #fff
        &-p
            font-size: 18px
            font-weight: 300
        &-btn
            margin-top: 30px
    .advantage
        height: auto!important
        padding: 50px 0
        &-item
            position: relative
            text-align: center
            width: 150px
            height: 150px
            border-top: 2px solid $font-color-second
            border-bottom: 2px solid $font-color-second
            transition: .3s all
            padding-top: 10px
            &:hover
                background-color: #ffffff00
                border: 2px solid #ffffff
        &-icon
            position: relative
            font-size: 50px
            z-index: 2
            color: $font-color-second
        &-text 
            color: $font-color-second
            font-size: 20px
            margin-top: 20px
            font-weight: 100
    .title-h2
        @include text-h2
        font-size: 30px
    .title-h3
        @include text-h3
        font-size: 16px
    .about-us
        height: auto!important
        padding: 50px 0
        &-btn
            margin-top: 30px
            margin-bottom: 30px
        &-text
            font-size: 16px
            font-weight: 300
            color: $font-color-third
        &-img
            width: 100%
            height: 250px
            object-fit: cover
        &__background
            background-repeat: repeat !important
        &-content
            width: 100%
            padding: 30px
            background-color: $font-color-second
    .contacts-map
        width: 100%
        height: 400px
    .top-title
        height: 300px !important
        display: flex
        align-items: center
        justify-content: center
        margin-top: 50px
    .title-h1
        position: relative
        font-size: 40px
        color: $font-color-second
        text-align: center
    .breadcrumb
        background-color: #00000000
        text-align: center
        width: 100%
        display: inline-block
        &-link
            color: $font-color-second
            font-size: 14px
            &:hover
            color: $font-color-second
        &-name
            color: $font-color-second
            margin: 0 3px
            font-size: 14px
    .our-shop-img
        width: 100%
        height: 350px
        object-fit: cover
@media screen and (max-width: 767px)
    .product-row
        min-width: 540px
    .link-line
        width: 100%
        height: auto
        padding: 10px 0
        background-color: $font-color-main
        &-btn
            display: block
            text-align: center
            color: $font-color-main
            background-color: $font-color-second
            font-size: 16px
            padding: 10px 25px
            transition: .3s all
            &:hover
                color: $font-color-second
                background-color: $font-color-third
        &-text
            color: $font-color-second
            font-size: 25px
            font-weight: 300
    .category-mobil
        display: block
    .category-home
        display: none
    .header
        &-row
            height: 70px
            transition: .5s all
            position: relative
            padding-top: 10px
            &::after
                content: ""
                position: absolute
                z-index: -1
                top: 0
                left: -300%
                width: 350%
                height: 100%
                background-color: $font-color-main
                transform: skewX(45deg)
            
    .slider
        height: auto
        &-item
            height: 400px
            position: relative
        &-img
            object-fit: cover
            object-position: center
            width: 100%
            min-height: 100%
        &-text
            height: 100%
            text-align: center
            padding-top: 170px
        &-h2
            font-size: 40px
            color: #fff
        &-p
            font-size: 16px
            font-weight: 300
        &-btn
            margin-top: 30px
    .advantage
        height: auto!important
        padding: 50px 0
        &-item
            position: relative
            text-align: center
            width: 100%
            height: 230px
            border-top: 2px solid $font-color-second
            border-bottom: 2px solid $font-color-second
            transition: .3s all
            padding-top: 40px
            margin-bottom: 30px
        &-icon
            position: relative
            font-size: 60px
            z-index: 2
            color: $font-color-second
        &-text 
            color: $font-color-second
            font-size: 30px
            margin-top: 20px
            font-weight: 100
    .about-us
        height: auto!important
        padding: 20px 0
        &-btn
            margin-top: 30px
            margin-bottom: 30px
        &-text
            font-size: 14px
            font-weight: 500
            color: $font-color-third
        &-img
            width: 100%
            height: 200px
            object-fit: cover
        &__background
            background-repeat: repeat !important
            
        &-content
            width: 100%
            padding: 30px 0
            background-color: $font-color-second
@media screen and (max-width:576px)
    .loader
        width: 300px
        height: 30px
        background-color: #ddd
        position: relative
        margin: 0 auto
        border-radius: 5px
        margin: 20px 0
    .product-row
        min-width: 100%
        padding: 0 10%
        margin: 0
    .link-line
        width: 100%
        height: auto
        padding: 15px 0
        background-color: $font-color-main
        &-btn
            display: block
            text-align: center
            color: $font-color-main
            background-color: $font-color-second
            font-size: 14px
            padding: 8px 0px
            transition: .3s all
            &:hover
                color: $font-color-second
                background-color: $font-color-third
        &-text
            color: $font-color-second
            font-size: 22px
            font-weight: 300
    .advantage
        height: auto!important
        padding: 50px 0
        &-item
            position: relative
            text-align: center
            width: 100%
            height: 200px
            border-top: 2px solid $font-color-second
            border-bottom: 2px solid $font-color-second
            transition: .3s all
            padding-top: 30px
        &-icon
            position: relative
            font-size: 60px
            z-index: 2
            color: $font-color-second
        &-text 
            color: $font-color-second
            font-size: 20px
            margin-top: 30px
            font-weight: 100
    .our-shop-img
        width: 100%
        height: 300px
        object-fit: cover
    .contacts
        padding:50px 0
        &-item
            text-align: center
            margin: 20px 0
        &-icon
            font-size: 40px
            margin: 10px 0
        &-name
            font-size: 20px
            color: $font-color-main
            font-weight: 500
            margin: 16px 0
        &-text
            font-size: 12px
            color: #000
            font-weight: 300
            margin: 20px 0
@media screen and (max-width: 425px)
    .product-row
        min-width: 100%
        padding: 0 0%
        margin: 0
    .link-line
        width: 100%
        height: auto
        padding: 15px 0
        background-color: $font-color-main
        &-btn
            display: block
            text-align: center
            color: $font-color-main
            background-color: $font-color-second
            font-size: 14px
            padding: 8px 0px
            transition: .3s all
            &:hover
                color: $font-color-second
                background-color: $font-color-third
        &-text
            color: $font-color-second
            font-size: 22px
            font-weight: 300
    .header
        &-row
            height: 70px
            transition: .5s all
            position: relative
            padding-top: 10px
            &::after
                content: ""
                position: absolute
                z-index: -1
                top: 0
                left: -300%
                width: 360%
                height: 100%
                background-color: $font-color-main
                transform: skewX(45deg)
        &__logo
            z-index: 2
            font-size: 22px
            &__link
                &_scroll
                    font-size: 22px

    .category-m-link
        display: flex
        flex-wrap: wrap
        width: 100%
        height: auto
        padding:15px 0
        background-color: $font-color-second
        box-shadow: 0px 1px 10px 1px #00000035
        margin-bottom: 20px
        text-align: center
    .category-m-name
        font-size: 16px
        color: $font-color-main
        margin:0 5px
        width: 100%
        font-weight: 300
    .category-m-icon
        font-size: 40px
        color: $font-color-main
        width: 100%
        margin-bottom: 10px
    .advantage
        height: auto!important
        padding: 50px 0
        &-item
            position: relative
            text-align: center
            width: 100%
            height: 150px
            border-top: 2px solid $font-color-second
            border-bottom: 2px solid $font-color-second
            transition: .3s all
            padding-top: 30px
        &-icon
            position: relative
            font-size: 40px
            z-index: 2
            color: $font-color-second
        &-text 
            color: $font-color-second
            font-size: 20px
            margin-top: 10px
            font-weight: 100
    .slider
        &-h2
            font-size: 30px
            color: #fff
        &-p
            font-size: 18px
            font-weight: 300
        &-btn
            margin-top: 16px
        &-item
            height: 300px
            position: relative
        &-text
            padding-top: 100px
    .main-btn
        @include main-btn
        font-size: 12px
        &::after
            font-family: 'icomoon' !important
            content: "\e90b"
            font-size: 8px
    .big-map
        width: 100%
        height: 300px
        border: none